<h1>Elvis-Berechtigungssystem Demo</h1>

{{ adt_tabs_start() }}
{{ adt_tab('permissiondemo_index', {}, 'VIEW') }}
{{ adt_tab('permissiondemo_edit', {}, 'EDIT') }}
{{ adt_tab('permissiondemo_create', {}, 'CREATE') }}
{{ adt_tab('permissiondemo_delete', {}, 'DELETE') }}
{{ adt_tab('permissiondemo_undelete', {}, 'UNDELETE') }}
{{ adt_tab('permissiondemo_operator', {}, 'OPERATOR') }}
{{ adt_tabs_end() }}
